.title > header{
  padding: 25px 20px;
  background-color: hsl(210, 12%, 15%);
  color: white;
  font-size: 28px;
  font-family: cursive;
}

.title__container {
  width: 95%;
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title__container > button {
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 auto;
  background-color: hsl(210, 12%, 15%);
  cursor: pointer;
}

.title__container > button:hover{
  background-color: hsl(210, 12%, 25%);
}

.todoApp__container > button:active{
  background-color: hsl(210, 12%, 15%);
}

.todoApp__tasks{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
