.todoItem{
  margin-top: 20px;
}

.todoItem h2{
  font-weight: 400;
  text-transform: uppercase;
}

.todoItem p{
  margin-top: 10px;
  font-size: 18px;
  max-height: 300px;
  line-height: 25px;
  overflow-y: auto;
  color: hsl(210, 20%, 25%);
}

